<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px solid black;
  }
   {
    text-align: left;
  }
</style>

<div class="container">
  <h1>Choose a Vehicle!</h1>


  <form method="get" action="/cool_url">
    <input type="radio" name="vehicle options" value="CBR 600F4i"> Honda CBR 600F4i<br>
    <input type="radio" name="vehicle options" value="Ferari"> Ferari<br>
    <input type="radio" name="vehicle options" value="Yugo"> Yugo<br>
    <br><br>
    <input type="text" name="name" placeholder="Enter your name"/>
    <br><br>
    <textarea rows=10 cols=40 name="description" placeholder="Describe any options you'd like to add to your vehicle"></textarea>
    <input type="submit" value="Submit" style="color:blue"/>
    <br><br>
    
    <!-- New form elements from Socrates -->
    Title: <input type="text" name="post[title]">
    Price: <input type="text" name="post[price]">
    Description: <br><textarea name="post[description]"></textarea>


  </form>
    <br><br>
  <form method="post" action="/cool_url">
    Would you like to receive more information on any of the following topics? (Please check all that apply.)<br><br>
    <input type="checkbox" name="promotions" value="Marketing"> Marketing material<br>
    <input type="checkbox" name="promotions" value="Contests"> Future contests<br>
    <input type="checkbox" name="promotions" value="Travel"> Travel ideas<br>
    <br>
    <input type="email" name="email" placeholder="<email>"/>
    <input type="submit" value="Submit" style="color:green"/>
  </form>



</div>
